@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

.font-raleway{
  font-family: 'Raleway',sans-serif;
}
a{
  text-decoration: none;
}
img{
  vertical-align: top;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.body{
  background-color: #f2f2f2;
  font-family:'Lato',sans-serif;
}
.inner{
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}
/* header */
.header{
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 1;
}
.header-inner{
  padding: 15px 0px;
}
.bolt-icon{
  float: left;
  color: gray;
}
.menu-btn{
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  float: right;
  transition: 0.3s;
}
.menu-btn:hover{
  transition: 0.3s;
  color: #333;
}

/* main */
/* Bolt Theme */
.main{
  margin-top: 78px;
}
.theme-tite-box{
  padding: 250px 0px;
}
.theme-title{
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}
.theme-subtitle{
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}


/* WHAT WE CAN DO? */
.cando{
  background-color: #74cfae;
  padding-top: 50px;
}
.cando-left{
  float: left;
  vertical-align: bottom;
  width: 400px;
}
.cando-right{
  float: right;
  width: 700px;
  vertical-align: top;
  text-align: center;
}
.cando-right-title{
  font-size: 24px;
  color: #fff;
  padding-top: 20px;
  margin-bottom: 35px;
}
.cando-right-text{
  font-size: 20px;
  color: #fff;
}


/* OUR LATEST WORK */
.work{
  padding: 60px 0px 70px 0px;
}
.work-title-text{
  font-size: 24px;
  color: #333;
}
.work-img-wrap{
  text-align: initial;
  font-size: 0px;
  margin-top: 40px;
}
.work-img-box{
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
}
.work-img{
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
}
.work-img-box:nth-child(3n+1){
  margin-left: 0px;
}
.work-img-box:nth-child(-n+3){
  margin-top: 0px;
}
.work-bottom-text-box{
  margin-top: 90px;
}
.work-bottom-text{
  font-size: 20px;
  color: #333;
  display: inline-block;
  width: 60%;
}
.work-bottom-btn{
  color: #fff;
  background-color: #74cfae;
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  display: inline-block;
  vertical-align: top;
  transition: 0.3s;
}
.work-bottom-btn:hover{
  color: #333;
}
.work-img:hover{
  opacity: 1;
  transition: 0.3s;
}


/* skills */
.skills{
  background-color: #4e4e4e;
  padding: 70px 0px 100px 0px;
}
.skills-title-text{
  color: #fff;
  font-size: 24px;
}
.skills-items-box{
  margin-top: 70px;
}
.skills-items{
  text-align: center;
  display: inline-block;
  margin-left: 180px;
  font-size: 0px;
}
.skills-items:first-child{
  margin-left: 0px;
}
.skills-text{
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}


/* sns */
.sns{
  padding: 200px 0px;
}
.sns-icon-box{
  width: 185px;
  padding: 40px 0px;
  display: inline-block;
  transition: 0.3s;
}
.sns-icon-box:hover{
  background-color: #fff;
  transition: 0.3s;
}
.sns-icon{
  color: #74cfae;
}

/* footer */
.footer{
  background-color: #74cfae;
  padding: 20px 0px 25px 0px
}
.footer-text{
  text-align: right;
  color: #fff;
}

/* TAB */
@media screen and (min-width:768px) and (max-width:1199px){

  .inner{
    width: 97%;
  }
  /* TAB_WHAT WE CAN DO? */
  .cando{
    padding-bottom: 20px;
  }
  .cando-left{
    float: none;
    display: block;
    width: 100%;
  }
  .cando-right{
    float: none;
    display: block;
    margin-top: 20px;
    width: 100%;
  }
  .cando-right-title{
    padding-top: 0px;
  }
  .cando-right-text{
    width: 950px;
    margin: 0 auto;
    width: 100%;
  }

  /* OUR LATEST WORK */
  .work-img-wrap{
    text-align: center;
  }
  .work-img-box{
    margin-left: 0px;
    display: block;
    margin-top: 0px;
  }
  .work-img-box:nth-child(3n+1){
    margin-top: 80px;
  }
  .work-img-box:first-child{
    margin-top: 0px;
  }
  .work-bottom-text-box{
    margin-top: 80px;
  }
  .work-bottom-text{
    width: auto;
  }
  .work-bottom-btn{
    margin-left: 0px;
    margin-top: 40px;
  }

  /* skills */
  .skills-items{
    display: block;
    margin-left: 0px;
    margin-top: 88px;
  }
  .skills-items:first-child{
    margin-top: 0px;
  }
    /* sns */
    .sns{
    padding: 50px 15px;
    text-align: center;
    display: flex;
  }
  .sns-icon-box{
    width: 24%;
  }
}

/* SP */
@media screen and (max-width:767px){
  .inner{
    width: 97%;
  }
    /* header */
  .menu-btn{
    display: none;
  }
  .hamburger-menu{
    float: right;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .hamburger-line{
    height: 3px;
    color: #ddd;
    margin-top: 5px;
    width: 30px;
    background-color: #ddd;
  }
  .hamburger-line:first-child{
    margin-top: 0px;
  }

  /* main */
  /* Bolt Theme */
  .theme-tite-box{
    padding: 160px 0px 130px 0px;
  }
  .theme-title{
    font-size: 80px;
  }

  /* TAB_WHAT WE CAN DO? */
  .cando{
    padding-bottom: 20px;
  }
  .cando-left{
    float: none;
    display: block;
    width: 100%;
  }
  .cando-right{
    float: none;
    display: block;
    margin-top: 20px;
    width: 100%;
  }
  .cando-right-title{
    padding-top: 0px;
  }

   /* OUR LATEST WORK */
   .work-img-wrap{
    text-align: center;
  }
  .work-img-box{
    margin-left: 0px;
    display: block;
    margin-top: 0px;
  }
  .work-img-box:nth-child(3n+1){
    margin-top: 80px;
  }
  .work-img-box:first-child{
    margin-top: 0px;
  }
  .work-bottom-text-box{
    margin-top: 80px;
  }
  .work-bottom-text{
    width: 100%;
  }
  .work-bottom-btn{
    margin-left: 0px;
    margin-top: 40px;
  }

  /* skills */
  .skills-items{
    display: block;
    margin-left: 0px;
    margin-top: 88px;
  }

    /* sns */
  .sns{
    padding: 50px 15px;
    text-align: center;
  }
  .sns-icon-box{
    display: block;
    width: 100%;
  }

  /* footer */
  .footer-text{
    width: 100%;
  }
}